body {
    margin: 0 0 0 0;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#Header {
    background: #4a555d;
    color: #FFF;
    height: 54px;
}

#Header img {
    vertical-align: middle;
    display: inline-block;
    height: 70%;
    margin-left: 10px;
    margin-top: 8px;
}

.uscc-name {
    height: 40% !important;
    margin-left: 10px;
}

div#IntroPara {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

twitter-widget#twitter-widget-0 {
    display: inline-block !important;
    margin-left: 40px;
}

div#Intro {
    padding: 1em;
}

div#Content {
    padding: 1em 2em;
}

#Content h2 {
    font-size: 48px;
    margin-bottom: .4em;
}

#Footer {
    background: #555;
    color: #bbb;
    text-align: center;
    padding: 2em 1em 10em;
}